body {
	background-color: black;
}

.square {
	width: 20px;
	height: 20px;
	display: inline-flex;
	
	background-color: #eee;
	margin: 0;
	padding-left: 2px;
}

.square:hover{
	cursor: pointer;
	background-color: #f1f5f6;
}
